.card {
  margin: 1rem auto;
  border-radius: 6px solid black;
  background-color: white;
  padding: 1rem;
  width: 90%;
  max-width: 40rem;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;  
}